@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {

  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

main {}

main>img:first-child {
  max-width: 100%;
  /* margin: 0 1rem 1rem 1rem; */
  border-radius: 0.5rem;
}

.card-opacity {
  width: 19rem;
  height: 19rem;
  top: 17px;
  border-radius: 0.5rem;
  left: 1rem;
  position: absolute;
  background-color: hsl(178, 100%, 50%, 60%);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-opacity:hover {
  transition: 1000ms;
  opacity: 1;
}

main.card {

  background: hsl(216, 50%, 16%);

  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19rem;
  max-width: 19rem;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  color: white;

}



main>h1.name {
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0rem;

}

main>p.desc {
  font-size: .9rem;
  color: hsl(215, 51%, 70%);
  margin: 0 0 1rem 0rem;

}

main >.cripto {
  display: flex;

  position: relative;
}

main>.cripto>.eth>img {
  /* margin-left: 1rem; */
  margin-right: 0.5rem;
}

main>.cripto>.eth>p {
  color: hsl(178, 100%, 50%);

  margin: 0 4.7rem 0rem 0rem;
}

main>.cripto>.days>p {
  color: hsl(215, 51%, 70%);
}

main>.cripto>.days>img {

  margin-right: 0.5rem;
}

main>.cripto::before {
  
    content: '';
    width: 19rem;
    position: absolute;
    top: 2rem;
    left: 0rem;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.eth {
  display: flex;
}

.days {
  display: flex;
    position: absolute;
    right: 0;

}

div.credits {
  display: flex;
 
}

div.credits>img {
  width: 10%;
  max-width: 10%;
  border-radius: 100%;
  margin: 2rem 0rem 1rem 0rem;

}

.creator {
  margin: 2.5rem 0rem 1rem 1rem;
  color: hsl(215, 51%, 70%);
  font-size: .9rem
}

.credits>p.name {
  margin: 2.5rem 0rem 1rem 0.5rem;
  font-size: .9rem
}


p.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}